// Define variables for your color scheme

// For example:

$dark-grey: #062726;
$blue: #2E5DD4;
$dark-blue: #364D5E;
$brown: #94442B;
$deep-purple: #5547AA;
$main-purple: #9A6CD5;
$light-purple: #D3CEE9;
$light-grey: #E0E7EC;
$lighter-grey: #F3F5F8;
$white: #FFFFFF;
$yellow: #FEB702;
$green: #04724D;
$red: #D5465C
