<h2><%= @message %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |field| %>
  <%= render partial: 'shared/form', locals: { field: field } %>
<% end %>

<%= render "devise/shared/links" %>
