<h1>Messages</h1>
<div class="component-container">
  <% @chatrooms.each do |chat| %>
    <%= link_to chatroom_path(chat), :action => 'go', class: "card-box bg-white" do %>
      <%= chat.name  %>
    <% end %>
  <% end %>
</div>
