<div class="container">
  <h1>Notification Center</h1>
  <% if current_user.unread_notifications.empty? %>
    <p>Nothing new. Come back later!</p>
  <% else %>
    <% current_user.unread_notifications.each do |notification| %>
      <% if notification.params[:type] == "event" %>
        <li><%=link_to "#{notification.params[:message]}", event_path(notification.params[:link_to]) %></li>
      <% elsif notification.params[:type] == "review" %>
        <li><%=link_to "#{notification.params[:message]}", user_reviews_path(notification.params[:link_to]) %></li>
      <% elsif notification.params[:type] == "user" %>
        <li><%=link_to "#{notification.params[:message]}", user_path(notification.params[:link_to]) %></li>
      <% end %>
    <% end %>
  <% end %>
</div>
