<div class="container">
  <h1>Notification Center</h1>
  <% @notifications.each do |notification| %>
    <% if notification.recipient == current_user %>
    <li><%= pp notification.params %></li>
    <% else %>
    <p>Nothing new. Come back later!</p>
    <% end %>
  <% end %>
</div>
