<div class="container">
  <h1>Notification Center</h1>
  <% if @notifications.where(recipient: current_user).unread.empty? %>
    <p>Nothing new. Come back later!</p>
  <% else %>
    <% @notifications.each do |notification| %>
      <% if notification.recipient == current_user || notification.params[:requester] == current_user %>
        <% if notification.unread? %>
          <% if notification.params[:type] == "review" %>
            <li><%="#{notification.params[:writer].first_name} left you a #{notification.params[:rating]}-star review." %></li>
          <% elsif notification.params[:type] == "accept/reject"%>
            <li><%="#{notification.params[:requestee].first_name} #{notification.params[:status]} your partner request."%></li>
          <% elsif notification.params[:type] == "partner" %>
            <li><%="#{notification.params[:requester].first_name} invited you to be their partner."%></li>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
