<h1>You're connected to the user index page! Here are the users:</h1>
<ul>
  <% @users.each do |user| %>
    <li><%= link_to "#{user.first_name} #{user.last_name}", user_path(user), class:"text-decoration-none" %></li>
  <% end %>
</ul>
