<h1>You're connected to the user index page! Here are the users:</h1>
<ul>
  <% @users.each do |user| %>
    <% if user != current_user %>
      <li><%= link_to "#{user.first_name} #{user.last_name}", user_path(user), class: "text-decoration-none"%></li>
      <li><%="#{user.distance_to([current_user.latitude, current_user.longitude])}" %></li>
    <% end %>
  <% end %>
</ul>
