<div class="stars-container">
  <div class="stars-inactive">
    <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
  </div>
  <div class="stars-active" style="width: <%= average_rating * 100 / 5 %>%;">
    <i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i><i class="fas fa-star text-warning"></i>
  </div>
</div>
