<div class="container py-4"><%= link_to "Add an event", new_event_path, class: "btn btn-primary" %></div>
<% @events.each do |event| %>
  <%= render "shared/event", event: event %>
  <div class="container py-4"><%= link_to "Check out this event", event_path(event), class: "btn btn-primary" %></div>
<% end %>
