<%= render "shared/event", event: @event %>
<div class="container py-4"><%= link_to "Delete", event_path(@event), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-primary" %></div>
