<%= link_to "Home", root_path, class: "absolute-link" %>
<div class="loading-container" data-controller="typewriter">
  <h1><span class="typed-text" data-typewriter-target="quote"></span><span class="cursor" data-typewriter-target="cursor">&nbsp;</span></h1>
  <h2 data-typewriter-target="source"></h2>
</div>
