.component-container {
  margin: 0 -15px;
  .flex-grow-1 {
    max-width: 100%;
    overflow: hidden;
    small {
      margin-top: 2px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    strong {
      vertical-align: middle;
    }
    a {
      color: $dark-grey;
      &:hover {
        color: $main-purple;
      }
    }
  }
}
.form-box {
  padding: 20px 15px;
  margin-bottom: 10px;
}
.card-box {
  color: inherit;
  display: block;
  padding: 15px;
  margin-bottom: 10px;
  text-decoration: none;

}
.button-block {
  gap: 10px;
  align-content: stretch;
  form.button_to {
    display: flex;
  }
  .btn.w-100 {
    display: flex!important;
    justify-content: center;
    align-items: center;
  }
}
.btn.d-block, .btn.d-inline-block {
  padding: 10px 10px;
  line-height: 20px;
  border: none;
}
.card-grid {
  gap: 15px;
  .text-end {
    margin-top: 2px;
  }
  .purple-circle {
    display: block;
    width: 10px;
    height: 10px;
    background: $main-purple;
    border-radius: 50%;
    margin: 8px 0 0 auto;
  }
}
.btn.btn-xs {
  font-size: 12px;
  line-height: 16px;
  padding: 7px 9px;
}
