.chatroom {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  .messages {
    background: $white;
    height: 100%;
    margin: 0 -15px;
    padding: 20px 15px 10px;
    overflow: scroll;
  }

  .add-message {
    background: $light-grey;
    margin: 0 -15px;
    padding: 10px 15px;
    .form-group, .message_content {
      margin-bottom: 0!important;
    }
    .purple-circle-button {
      border: none;
      text-indent: -99999px;
      width: 30px;
      background-image: asset-url('icons/send.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px;
    }
  }
}
