.event-grid {
  .address, .attendees {
    padding-top: 10px;
  }
  .card-grid {
    .img-event {
      width: 125px;
      height: 50px;
      object-fit: cover;
    }
    .date {
      margin-bottom: 10px;
      margin-left: -15px;
      padding: 2px 15px;
      background: $main-purple;
      border-radius: 0 4px 4px 0;
      display: inline-block;
      small {
        color: $white;
        text-transform: uppercase;
      }
    }
  }
}
.past-events {
  .attendees, .img-event {
    display: none;
  }
  .card-grid .date {
    background: $deep-purple;
  }
}
.mapboxgl-map {
  margin-bottom: 10px;
}
.event-detail {
  .banner {
    position: relative;
    padding-top: 60px;
  }
  .date {
    position: absolute;
    top: 15px;
    right: 0;
    padding: 2px 15px;
    background: $main-purple;
    border-radius: 4px 0 0 4px;
    display: inline-block;
    small {
      color: $white;
      text-transform: uppercase;
    }
  }
}
.attendee-list {
  h2 {
    margin-top: 10px;
  }
  .hide-attendees {
    > * {
      display: none;
    }
    > .card-box:nth-child(1), > .card-box:nth-child(2) {
      display: block;
    }
  }
}
