.rating {
  text-align: center;
  text-decoration: none;
  a {
    font-weight: bold;
  }
}
.stars-container {
  font-size: 14px;
  position: relative;
  > div {
    white-space: nowrap;
    overflow: hidden;
  }
  .stars-inactive {
    color: $light-grey;
  }
  .stars-active {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.new_review .review_rating {
  margin: 20px 0!important;
}
.new_review textarea {
  height: 120px;
}

:root {
  --gl-star-empty: url('icons/star-empty.svg');
  --gl-star-full: url('icons/star-full.svg');
}
