<%= render 'shared/back_bar' %>

<h1><%= "#{@user.first_name} #{@user.last_name}’s reviews" %></h1>
<div class="component-container">
  <% @reviews.each do |review| %>
    <%= render "shared/review", review: review %>
  <% end %>
</div>
<% @user.friends.select do |user| %>
  <% if user.id == current_user.id %>
    <%= link_to "Add review", new_user_review_path(@user), class: "btn btn-primary d-block my-3" %>
  <% end %>
<% end %>
